# Created by .ignore support plugin (hsz.mobi)
/.idea/*
*.iml
*.bak
.idea
*.classpath
*.project
*.tmp
*/target/**
*/*/target/**

*/.settings/**
*/*/.settings/**
/.settings/*

*/logs/**
*/*/logs/**

jkm-api/.project
jkm-api/.settings/org.eclipse.core.resources.prefs
jkm-api/.settings/org.eclipse.m2e.core.prefs
jkm-api/api-core/.classpath
jkm-api/api-core/.project
jkm-api/api-core/.settings/org.eclipse.core.resources.prefs
jkm-api/api-core/.settings/org.eclipse.jdt.core.prefs
jkm-api/api-core/.settings/org.eclipse.m2e.core.prefs
jkm-api/api-klm-app/.classpath
jkm-api/api-klm-app/.project
jkm-api/api-klm-app/.settings/.jsdtscope
jkm-api/api-klm-app/.settings/org.eclipse.core.resources.prefs
jkm-api/api-klm-app/.settings/org.eclipse.jdt.core.prefs
jkm-api/api-klm-app/.settings/org.eclipse.m2e.core.prefs
jkm-api/api-klm-app/.settings/org.eclipse.wst.common.component
jkm-api/api-klm-app/.settings/org.eclipse.wst.common.project.facet.core.xml
jkm-api/api-klm-app/.settings/org.eclipse.wst.jsdt.ui.superType.container
jkm-api/api-klm-app/.settings/org.eclipse.wst.jsdt.ui.superType.name
jkm-api/api-klm-app/.settings/org.eclipse.wst.validation.prefs
jkm-provider/.project
jkm-provider/.settings/org.eclipse.core.resources.prefs
jkm-provider/.settings/org.eclipse.m2e.core.prefs
jkm-provider/provider-user/.classpath
jkm-provider/provider-user/.project
jkm-provider/provider-user/.settings/org.eclipse.core.resources.prefs
jkm-provider/provider-user/.settings/org.eclipse.jdt.core.prefs
jkm-provider/provider-user/.settings/org.eclipse.m2e.core.prefs
jkm-service/.project
jkm-service/.settings/org.eclipse.core.resources.prefs
jkm-service/.settings/org.eclipse.m2e.core.prefs
jkm-service/service-core/.classpath
jkm-service/service-core/.project
jkm-service/service-core/.settings/org.eclipse.core.resources.prefs
jkm-service/service-core/.settings/org.eclipse.jdt.core.prefs
jkm-service/service-core/.settings/org.eclipse.m2e.core.prefs
jkm-service/service-user/.classpath
jkm-service/service-user/.project
jkm-service/service-user/.settings/org.eclipse.core.resources.prefs
jkm-service/service-user/.settings/org.eclipse.jdt.core.prefs
jkm-service/service-user/.settings/org.eclipse.m2e.core.prefs
